html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
textarea {
  font-size: 1.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-auto-columns: 1fr;
  height: 100%;
}
a:hover {
  color: #ff0000;
}

header {
  grid-area: header;
  background-color: #000000;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  padding-bottom: 10px;
}
header a {
  color: #ffffff;
  text-decoration: none;
}

main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* products */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img {
  max-width: 37rem;
  max-height: 37rem;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}
.product-price div {
  font-size: 3rem;
}
.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #808080 solid;
}
.button.primary {
  background-color: #f0c040;
}

a {
  text-decoration: none;
}

/* filter */
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div {
  flex: 1;
}

.cart {
  padding: 1.2rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total > button,
.total > div {
  flex: 1;
}

.total > div {
  font-size: 2rem;
}
